<div class="d-flex justify-content-center pt-3">
  <div class="card col-6">

    <div class="card-header text-center bg-primary bg-opacity-50">
      <h5 class="m-3">Create a New Contact</h5>
    </div>

    <div class="card-body text-center">

      <div class="input-group pb-1">
        <span class="input-group-text w-25">Contact Name </span>
        <input type="text" class="form-control">
      </div>

      <div class="input-group pb-1">
        <span class="input-group-text w-25">Contact Phone </span>
        <input type="text" class="form-control">
      </div>

      <div class="input-group pb-1">
        <span class="input-group-text w-25">Contact First Met </span>
        <input type="date" class="form-control">
      </div>

      <div class="input-group-text w-25">
        <input class="form-check-input" style="margin-right: 1rem" type="checkbox">
        <label>Active</label>
      </div>

    </div>

    <div class="card-footer text-center">
      <button class="btn btn-primary">Create Contact</button>
    </div>

  </div>
</div>


