<nav class="navbar navbar-light bg-light">

  <h2 class="m-3 display-6">Manage Contacts</h2>

  <div *ngIf="isLoggedIn == false" class="d-flex justify-content-end">

    <div  *ngIf="creatingAccount == false" class="d-flex justify-content-evenly">
      <p class="m-4">Don't Have an Account Yet?</p>
      <button
        class="btn btn-outline-primary m-3"
        (click)="isCreatingAccount()"
      >Create Account</button>
    </div>

    <div *ngIf="creatingAccount == true" class="d-flex justify-content-evenly">
      <p class="m-4">Have an Account Already?</p>
      <button
        class="btn btn-outline-success m-3"
        (click)="loginToggle()"
      >Login</button>
    </div>

  </div>

  <div *ngIf="isLoggedIn == true">
    <div class="d-flex justify-content-evenly">
      <button
        class="btn btn-primary m-3"
        (click)="logOutClick()"
      >Log Out</button>
    </div>
  </div>

</nav>
